@media (min-width:401px){
    div{
        font-size: 15px;
    }
}
@media (max-width:400px){
    div{
        font-size: 8px;
    }
}
#nav{
    height: 55px;
    background-color: transparent;
}
#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#nav ul li a{
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    line-height: 35px;
    float: left;
    display: inline-block;
    color: black;
}
#nav ul li a:hover{
    text-decoration: underline;
    background-color: lavender;
    color: black;
}
#content{
    margin:10px;
}
.imagen{
    max-width: 30%;
    max-height: 30%;
    display: block;
    margin: auto;
}
#textForm{
    background-color: transparent;
    border-radius: 12px;
    margin: auto;
    padding: 0;
    color: rgba(0,0,0,.87);
    display: flex;
    height: 34px;
    width: 50%
}
#buttonForm{
    border-radius: 12px;
    margin: auto;
    padding: 5px;
    color: black;
    display: flex;
}
.footer{
    left: 0;
    bottom: 0;
    margin-left: 10px;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: left;
}